/* CSS declarations go here */
.container-splash {
	width: 100%;
	padding: .5%;
}

.splash {
	font-size: 24px !important;
    font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: .6%;
}

.progress-positive {
    fill: #33cd5f;
}
